extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Hospi-all-us was created to help people find hospitals to get treatment and get a bit of work done.
        | <br /><br />
        | Hospi-all-us helps you find places for treatment for emergency conditions. Let Hospi-all-us help you find the place you're looking for.
        | <br /><br />
        | It's a good to go place for all in one needs right from the hospitals to the clinics and tests.
        | <br /><br />
        | Hospi-all-us helps you find places for treatment for emergency conditions. Let Hospi-all-us help you find the place you're looking for.
