extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Hospi-all-us
          small &nbsp;Find nearby hospitals with wifi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Apollo Hospitals
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address Secundrabd 500003
          p
            span.label.label-warning MRI
            | &nbsp;
            span.label.label-warning CT scan
            | &nbsp;
            span.label.label-warning Cardiology
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Yashoda
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address Nanakramguda outter ring road, Hyderabad, 500032
          p
            span.label.label-warning Dermatology
            | &nbsp;
            span.label.label-warning Radiology
            | &nbsp;
            span.label.label-warning Opthomology
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') Rainbow Hospitals
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address Rtc x roads,hyderabad 500080
          p
            span.label.label-warning Premature babies
            | &nbsp;
            span.label.label-warning Gynocoloist
            | &nbsp;
            span.label.label-warning Oncology
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        |  Hospi-all-us has accessible treatment and ambulances services for emergency conditions.
